.layout-user > .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 31px;
    background: rgb(231, 231, 231);
    margin: 16px 28px 16px 0;
    float: left;
}
.menu-nav{
    float: right;
}

@media(max-width: 768px){
    .menu-nav{
        float: none;
    }
}