.header-admin{
    background: rgb(250, 250, 250)!important;
    border-bottom: .5px rgb(226, 226, 226) solid;
}
.contenido-admin{
    padding: 24px;
    min-height: 85vh;
    background: #FFF;
}
/* .layout-admin{
    margin-left: 200px;
} */