.indicaciones{
    font-size: 17px;
    text-align: center;
}
.contenedor-boton{
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.boton-vender{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 10px;

    background: #bdc3c7; 
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); 
    background: linear-gradient(to right, #2c3e50, #bdc3c7); 
    
    -webkit-box-shadow: 10px 19px 82px 7px rgba(5,5,5,1);
    -moz-box-shadow: 10px 19px 82px 7px rgba(5,5,5,1);
}

.boton-vender:hover{
    font-size: 75px;
    transition: .3s;
}

