
.principal{
    background: white;
}

.titulo-home{
    font-size: 45px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedores{
    justify-content: center;
    align-items: center;
}

.video{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    height: 650px;
    -webkit-box-shadow: 0px 0px 37px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 37px 13px rgba(0,0,0,0.75);
}



.contenedor-carrusel{
    justify-content: center;
    background-color: black;
    color: white;
    //clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 85%);
   
}

.contenedor-numero{
    top: 150px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    clip-path: polygon(0 14%, 100% 0, 100% 93%, 0 100%);
    
}

.contenedor-reds{
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.redes{
    font-size: 65px;
    margin: 0 15px;
}
.redes:hover{
    font-size: 85px;
    transition: .3s;
    color: rgb(0, 140, 255);
}
.wave{
    //position: absolute;
    width: 100%;
    bottom: 0;
  }

  .circular{
      margin-top: 150px;
  }

  .planet-p{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #9257ad;
  }
  
  .planet{
    font-size: 65px;
    align-items: center;
    text-align: center;
  }
//fixed
//botton


