.banner-user{
    height: 400px;
}
.banner-user-title{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}
.banner-user-text{
    text-align: center;
    font-size: 18px;
}
.banner-elemento{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
