.cap-titulo{
    align-items: center;
    text-align: center;

    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.principal{
    
    background: #28304886; 
    background: -webkit-linear-gradient(to right, #859398af, #2830488f),  url("./Fondo.jpg");  
    background: linear-gradient(to right, #8593988c, #28304885),  url("./Fondo.jpg"); 

    background-attachment: center;
    background-position: center center;
    background-size: cover;

    min-height: 100vh;
}

.card-video{
    background: white;
    width: 240px;
    height: 300px;
    border-radius: 3%;
}

.card-video:hover{
	-webkit-box-shadow: -1px 7px 97px 17px rgba(248, 248, 248, 0.75);
    -moz-box-shadow: -1px 7px 97px 17px rgba(255, 255, 255, 0.75);

}

.front-video{
    border-radius: 3%;
}


.titulo-video{
    text-align: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}
