.cap-titulo{
    align-items: center;
    text-align: center;

    font-size: 44px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.principal{
    background: url("./Fondo.jpg");

    background-attachment: center;
    background-position: center center;
    background-size: cover;

    min-height: 100vh;
}

.card-video{
    background: white;
    width: 250px;
    max-height: 390px;
    border-radius: 2%;
	-webkit-box-shadow: -1px 51px 82px -37px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 51px 82px -37px rgba(0,0,0,0.75);		

}

.front-video{
    border-radius: 2%;
}


.titulo-video{
    text-align: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}
