.banner-home{
    width: 100%;
}
.wave-principal{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.banner-home-user{
    height: 420px;
  }
  .banner-home-elem{
    text-align: center;
    color: #000;
    position: relative;
    overflow: hidden;
  }
  .banner-home-elem .banner-home-title{
    font-size: 65px;
    top: 10%;
  }
  .banner-home-elem .banner-home-text{
    font-size: 45px;
    top: 10%;
  }
   .home-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    // background-attachment: fixed;
    // background-position: center;
    // background-size: center;
    
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  
  }

